
body {
    background-color: #D2E9EE;
    /* display: flex;
    flex-direction: column; */
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
}


/*Header*/
header {
    background-color: #89C6D2;
   
}

header ul li {
    color: white
}

.btn {
    border: 1.5px solid wheat;
    margin-left: 4px;
    
    background: #ffffff;
    transition: background 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background: rgb(46, 139, 141, 0.8);
    color: #ffffff;
}


.nav-link:hover {
    text-decoration:underline
}

.nav-link:active {
    color: gray;
}

a {
    text-decoration: none;
    color: black;
}

#logo-1 {
    font-family: 'Poppins';
    font-size: xx-large;
    font-weight: 200;
}

#logo-2 {
    font-family: 'Poppins';
    font-size: xx-large;
    font-weight: 400;
}

.container {
    width: 70%;
}

.nav {
    margin-left: 18px;
}

.dropdown-item:hover {
    background-color: #58bfd4;
    color: white;
}

/*Hero*/

.hero-container {
    color: white;
    flex: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bible-1868070_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
}


/*Caurosel*/
.carousel-inner img {
    max-height: 900px;
    width: 640px;
}

/*Footer*/

footer {
    background-color: #89C6D2;
    margin-bottom: 0;
}

footer ul li {
    color: white;
}

                                   /***Book-info-page-styling****/


.flex-container {
    display: flex;
    gap: 30px;
    width: 100%;
}
 h1, h3 {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Serif';
}

 h1 {
    font-weight: 600;
    font-size: 39px;
}

 h3 {
    font-weight: 300;
    font-size: 28px;
}




.left-fixed-part {
    min-width: 20%;
    height: 100vh;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 48px;
    gap: 15px;
    align-items: center;
    position: sticky;
    top: 0;
}

.book {
    width: 128px;
    height: 207px;
    border: 1px black solid;
}

.add-to-fav img {
    margin-right: 12px;
}

.btn:hover .bi-heart-fill {
    color: black;
}

.star-container-holder {
    display: flex;
    gap: 10px;
}

.right-part {
    
    font-family:'IBM Plex Serif';
}

.rating-data {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
    align-items: center;
    
}

.rating-data h1 {
    font-weight: 400;
    font-size: 34px;
}

.rating-data p {
    margin: 0;
    padding-top: 3px;
    
}

.total-rating {
    display: flex;
    gap: 10px;
}

a:hover .rating-data {
    background-color: rgb(128, 128, 128, 0.2);
}

.book-info {
    font-family: 'roboto';
    max-width: 70%;
    margin-top: 25px;
}

.edition-info div {
    display: flex;
    gap: 50px;
    margin-top: 5px;
    font-family: 'Roboto Serif';
    font-size: 12px;
}
.book-info-que {
    min-width: 100px;
}
                                            /******** Your rating and review *******/


.your-rating-review {
    margin-top: 40px;
}
.your-rating-content {
    margin: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.rating-review-button {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 45px;
}



                                            /**********  Community Notes section **********/


.community-notes-section {
    margin-top: 30px;
}

.add-notes-section {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.all-notes {
    margin-top: 20px;
    width: 70%;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr);
    gap: 30px;
    grid-auto-rows: 1fr;
}


.notes-card {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 12px lightblue;
    padding: 5px;
}

.notes-card h4 {
    font-family: 'IBM Plex Serif';
    font-weight: 500;
    margin-bottom: 5px;
}

.rating-read-btn {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}



                                            /****** Users rating Styling *******/


#user-rating-dashboard {
    margin-top: 30px;
    margin-bottom: 30px;
}

.heading {
    font-size: 28px;
    font-family: 'IBM Plex Serif';
    font-weight: 500;
}


.row {
    width: 70%;
}

  
  /* Three column layout */

.side {
    float: left;
    width: 15%;
    margin-top: 10px;
    
  }
  
  .middle {
    float: left;
    width: 70%;
    margin-top: 10px;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: rgba(191, 170, 170, 0.6);
    text-align: center;
    color: white;
    border-radius: 10px;
  }
  
  /* Individual bars */
  .bar-5 {width: 60%; height: 18px; background-color: #ff9800;}
  .bar-4 {width: 30%; height: 18px; background-color: #ff9800;}
  .bar-3 {width: 10%; height: 18px; background-color: #ff9800;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 15%; height: 18px; background-color: #ff9800;}
  
                                    /*******User comments********/


#user-reviews {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
}

.user-comment {
    padding: 10px;
    
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.user-comment-name-part h6{
    font-size: 21px;
}

         /*********************************** View all Books section***********************************/


.search-area {
    margin-top: 40px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.search-area, .isbn-book-search  form {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 40%;
}

.search-area, .isbn-book-search  input {
    flex: 1;
    border-radius: 20px;
    border-color: white;
    padding: 5px;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    
}
.search-area, .isbn-book-search  .btn {
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
}



.all-books-grid-container {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr);
    gap: 30px;
    grid-auto-rows: 1fr;

}

.book-card {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    gap: 15px;
    border-radius: 10px;
}

.book-card p, h5 {
    margin: 0;
    padding: 0;
}

.book-card p {
    margin-bottom: 15px;
}

.book-view-btn {
    display: flex;
    justify-content: flex-end;
}

                                            /***Pagination***/


.pagination-area {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.page-item.selected {
    background-color: #58bfd4;
    color: white;
}

.page-link {
    color: black;
}

.sort-btn {
   
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}

                                                /**************ISBN book search area*****************/
                                
.isbn-book-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-not-found {
    margin-top: 15px;
    font-size: larger;
    color: red;
}

                                            /********view-new-book-info**********/

.no-notes-added {
    border: 1px solid black;
    width: 70%;
    min-height: 150px;
    margin-top: 25px;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
}


.no-review-added {
    border: 1px solid black;
    width: 70%;
    min-height: 150px;
   border-radius: 10px;
   margin-bottom: 30px;
   font-size: 20px;
   padding: 20px;
}


                                                                /***************Write-notes****************/

.notes-container {
    min-height: 100vh;
    margin-bottom: 20px;

}

.notes-container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.notes-container > form input {
    text-align: center;
    font-family: 'IBM Plex Serif';
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-color: white;
}


#author {
    width: 40%;
    padding: 10px;
    margin-bottom: 8px;
}

#title {
    width: 80%;
    padding: 10px;
    font-size: 20px;
}

#notes-text {
    width: 80%;
    margin-top: 20px;
    min-height: 70vh;
    border-radius: 10px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-color: white;
    padding: 20px;
    font-family: 'IBM Plex Serif';
    margin-bottom: 20px;
}


                                                            /*****************   Dashboard  ****************/

.big-container {
    width: 100%;
    height: 160vh;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}

.dash-grid-container {
    border: 1px solid black;
    display: grid;
    min-height: 140vh;
    width: 80%;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
    
}

.user-info-card {
    border: 1px solid black;
    grid-column: 1 / 5;
    grid-row: 1/1.5;
}

.user-comments {
    grid-column: 5 / -1;
    grid-row: 1 / 3;
    border: 1px solid black;
    max-height: 3fr;  /* Adjust height as needed */
    overflow-y: auto;
}

.user-comments .d-flex {
    width: 100%; /* Ensure it adapts to grid size */
}

.user-notes-books {
    border: 1px solid black;
    grid-column: 1 / -1;
    grid-row: 3 / -1;
}

.user-info-card {
    display: flex;
    gap: 20px;
    padding: 20px;
    font-family: 'IBM Plex Serif';
    
}

.user-icon svg {
    border-radius: 50%;
    border: 2px solid black;
    padding: 15px;
}

.user-icon {
    flex-basis: 26%;
}

.user-info {
    flex: 1;
}

.user-info h2{
    padding-bottom: 3px;
    border-bottom: 1px solid black;
}

.user-info-flex {
    display: flex;
}

.user-info-flex p {
    padding: 0;
    margin: 0;
}

.user-info-ques {
    flex-basis: 23%;
    font-weight: 600;
}

.user-info-ans {
    font-weight: 100;
}